<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Biblio - {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href={{ asset('css/styles.css') }}>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}



    </head>
    <body>
        {% include('partials/_navbar.html.twig') %}
        {% block body %}{% endblock %}



        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script>
            $(document).ready(function () {
                $(".sidenav").sidenav();
            });
        </script>
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
            <!-- Compiled and minified JavaScript -->
        {% endblock %}
    </body>
</html>
