{% extends 'base.html.twig' %}

{% block title %}Vos informations{% endblock %}

{% block body %}
    <div class="row">
        <div class="col s6 offset-s3 m6 offset-m3 white z-depth-3">
            <h4>Vos informations</h4>

            <div class="input-field col s12">
                <input type="text" id="autocomplete-input" disabled class="autocomplete" value="{{ app.user.prenom }}">
                <label for="autocomplete-input">Votre prénom :</label>
            </div>
            <div class="input-field col s12">
                <input type="text" id="autocomplete-input" disabled class="autocomplete" value="{{ app.user.nom }}">
                <label for="autocomplete-input">Votre nom :</label>
            </div>
            <div class="input-field col s12">
                <input type="text" id="autocomplete-input" disabled class="autocomplete" value="{{ app.user.email }}">
                <label for="autocomplete-input">Votre e-mail :</label>
            </div>

            <a href="{{ path('edit_user') }}" class="waves-effect waves-light btn">Modifier votre compte</a>

        </div>
    </div>


{% endblock %}
